<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appsalaobeleza1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppSalaoBeleza1">
        <activity android:name=".controlador.ConsultarActivity" android:label="Tela de Consulta"></activity>
        <activity android:name=".controlador.CadastrarActivity" android:label="Tela de Cadastro" />
        <activity
            android:name=".controlador.MenuActivity" android:label="Tela de Menu" />
        <activity android:name=".controlador.LoginActivity" android:label="Tela de Login" />
        <activity android:name=".controlador.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>